DEBUG=True

# Backend
DB_HOST=db
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_PORT=5432

# Docker
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
PGDATA=/var/lib/postgresql/data/
POSTGRES_HOST_AUTH_METHOD=trust

# Email
EMAIL_FROM=host_email@google.com
EMAIL_HOST_USER=host_email@google.com
EMAIL_HOST_PASSWORD=16-char-apppassword

# Google OAuth
GOOGLE_OAUTH_CLIENT_ID=google-oauth-client-id
GOOGLE_OAUTH2_CLIENT_SECRET=google-oauth-client-secret
GOOGLE_OAUTH2_REDIRECT_URI=redirect-uri